<div class="panel panel-default">
  <div class="panel-title panel-heading subheader-menu-container headingOne">
    <!-- subheader menu here -->
  </div>

  <div class="email-template-container block-padding" style="padding-top:14px; padding-bottom:14px; ">

    <div class="row">
      <div class="col-sm-3">
        <div class="form-label text-right">Process</div>
      </div>
      <div class="col-md-9">
        <div class="form-data"><%= ProcessDisplayName %></div>
      </div>
    </div>
    <div class="sep-space"></div>


    <div class="row">
      <div class="col-md-3">
        <div class="form-label text-right">Code</div>
      </div>
      <div class="col-md-9">
        <div class="form-data"><%= Code %></div>
      </div>
    </div>
    <div class="sep-space"></div>


    <div class="row">
      <div class="col-md-3">
        <div class="form-label text-right">Worker</div>
      </div>
      <div class="col-md-9">
        <div class="form-data"><%= Worker %></div>
      </div>
    </div>
    <div class="sep-space"></div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-label text-right">Rule</div>
      </div>
      <div class="col-md-9 container">
        <div class="ruleContainer"></div>
        <div class="error-message hidden"></div>
      </div>
    </div>
    <div class="sep-space"></div>

    <% if (showNature) { %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-label text-right">Nature</div>
        </div>
        <div class="col-md-9 container">
          <div class="natureContainer"></div>
          <div class="error-message hidden"></div>
        </div>
      </div>
      <div class="sep-space"></div>
    <% } // endif %>

    <% if (showScore) { %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-label text-right">Score</div>
        </div>
        <div class="col-md-9 container">
          <div class="">
            <input type="number" class="form-control formTextField" name="Score" field="Score" value="<%= Score %>">
          </div>
          <div class="error-message hidden"></div>
        </div>
      </div>
      <div class="sep-space"></div>
    <% } // endif %>

    <% if (showPer) { %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-label text-right">Per</div>
        </div>
        <div class="col-md-7 container">
          <div class="perContainer"></div>
          <div class="error-message hidden"></div>
        </div>
        <div class="col-md-2 form-label">instruction</div>
      </div>
      <div class="sep-space"></div>
    <% } // endif %>

    <% if (showSet) { %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-label text-right">Set</div>
        </div>
        <div class="col-md-9 setContainer container"></div>
      </div>
      <div class="sep-space"></div>
    <% } // endif %>

    <% if (showRemove) { %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-label text-right">Remove</div>
        </div>
        <div class="col-md-9 container">
          <div class="removeContainer"></div>
          <div class="error-message hidden"></div>
        </div>
      </div>
      <div class="sep-space"></div>
    <% } // endif %>

    <% if (showAs) { %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-label text-right">As</div>
        </div>
        <div class="col-md-9 container">
          <div class="asContainer"></div>
          <div class="error-message hidden"></div>
        </div>
      </div>
      <div class="sep-space"></div>
    <% } // endif %>

    <% if (showOf) { %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-label text-right">Of</div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4 container">
              <div class="ofFromContainer"></div>
              <div class="error-message hidden"></div>
            </div>
            <div class="col-md-2 text-center" style="padding:0"><span class="form-label">To</span></div>
            <div class="col-md-4 container">
              <div class="ofToContainer"></div>
              <div class="error-message hidden"></div>
            </div>
            <div class="col-md-2 text-right" style="padding-left:0"><span class="form-label">User</span></div>
          </div>
        </div>
      </div>
      <div class="sep-space"></div>
    <% } // endif %>

    <% if (showFor && showFor === 'team') { %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-label text-right">For</div>
        </div>
        <div class="col-md-5 container">
          <div class="forContainer"></div>
          <div class="error-message hidden"></div>
        </div>
        <div class="col-md-4 container">
          <div class="forTeamFilterContainer"></div>
          <div class="error-message hidden"></div>
        </div>
      </div>
      <div class="sep-space"></div>
    <% } else if (showFor){ %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-label text-right">For</div>
        </div>
        <div class="col-md-9 container">
          <div class="forContainer"></div>
          <div class="error-message hidden"></div>
        </div>
      </div>
      <div class="sep-space"></div>
    <% }// endif %>

    <% if (showDateRange) { %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-label text-right">From</div>
        </div>
        <div class="col-md-4 container">
          <div class="fromDatePicker"></div>
          <div class="error-message hidden"></div>
        </div>
        <div class="col-md-1"><span class="form-label">To</span></div>
        <div class="col-md-4 container">
          <div class="toDatePicker"></div>
          <div class="error-message hidden"></div>
        </div>
      </div>
      <div class="sep-space"></div>
    <% } // endif %>

    <% if (showCheckbox) { %>
      <div>
        <div class="container">
          <div class="checkboxContainer"></div>
          <div class="error-message hidden"></div>
        </div>
      </div>
      <div class="sep-space"></div>
    <% } // endif %>

    <% if (showRemark) { %>
    <div class="row">
      <div class="col-md-3">
        <div class="form-label text-right">Remark</div>
      </div>
      <div class="col-md-9 container">
        <div class="remarkContainer">
          <textarea name="Remark" class="form-control formTextField" rows="10"><%= Remark %></textarea>
        </div>
        <div class="error-message hidden"></div>
      </div>
    </div>
    <div class="sep-space"></div>
    <% } // endif %>

    <% if (showReference) { %>
    <div class="row">
      <div class="col-md-3">
        <div class="form-label text-right">Reference</div>
      </div>
      <div class="col-md-9 container">
        <div class="attachmentContainer"></div>
        <div class="error-message hidden"></div>
      </div>
    </div>
    <div class="sep-space"></div>
    <% } // endif %>


    <div class="form-group buttons-container">
      <div class="text-center available-buttons">
        <input type="button" class="btn btn-primary previewBtn" value="Preview" />
        <% if (saveType === 'PUT') { // = in update mode %>
          <input type="button" class="btn btn-primary deleteBtn" value="Delete" />
        <% } %>
        <input type="button" class="btn btn-primary saveBtn" value="Save" />
      </div>
    </div>
    <div class="sep-space"></div>


  </div>
</div>
